<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./assets/mui/css/mui.css" />
    <link rel="stylesheet" type="text/css" href="./assets/mui/css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./css/base.css" />
    <link rel="stylesheet" type="text/css" href="./css/category.css" />
    <link rel="stylesheet" href="./js/public.js">
    <script src="./assets/zepto/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./assets/mui/js/mui.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/rem.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/category.js"></script>
    <script src="./js/template-web.js"></script>
</head>

<body>
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav my-heade">
        <a class="mui-action-back mui-icon mui-icon mui-icon-search mui-pull-right" href="search.html"></a>
        <h1 class="mui-title">乐淘云购</h1>
    </header>
    <!-- footer底部 -->
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item " href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="category.html">
            <span class="mui-icon mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="#tabbar-with-contact">
            <span class="mui-icon iconfont icon-gouwuche"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <!-- 内容区 -->
    <div class="my-content">
        <div class="category-left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="links" id="links">

                    </div>
                </div>
            </div>
        </div>
        <div class="category-right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="brand-list mui-clearfix">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 左边的模板 -->
    <script id="category-filst" type="text/template">
        <% for(var i=0; i < result.length;i++){ %>
                <a href="javascript:;" data-id="<%=result[i].id %>"><%=result[i].categoryName %></a>
            <% } %>
        </script>
         <!-- 右边的模板 -->
        <script id="category-right" type="text/template">
            <% for(var i=0; i< rows.length;i++){ %>
                <li>
                    <a href="javascript:;">
                        <img src="<%=rows[i].brandLogo %>" alt="">
                        <p><%=rows[i].brandName %></p>
                    </a>
                </li>
            <% } %>
            <% if(!rows.length){ %>
                <div class="noresult">暂无数据</div>
           <% } %>
        </script>

        <!-- <script>
            mui('body').on('tap', 'a', function () {
             mui.openWindow({ url: this.href })
         });
        </script> -->
        <script src="./js/public.js"></script>
  

</body>

</html>